@model AutoNuoma.Models.Kursas

@{
    ViewBag.Title = "Edit";
}

<h2>Kurso redagavimas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kursas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.kalba, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kalba, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kalba, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trukme_menesiais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trukme_menesiais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trukme_menesiais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kaina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kaina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kaina, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.max_mokiniu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.max_mokiniu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.max_mokiniu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokymosi_medziaga, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.mokymosi_medziaga, Model.mokMedz, "-----------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mokymosi_medziaga, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lygis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.lygis, Model.lygiai, "-----------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lygis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.savaites_diena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.savaites_diena, Model.savDien, "-----------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.savaites_diena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokytojo_asmens_kodas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.mokytojo_asmens_kodas, Model.MokytojaiList, "-----------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mokytojo_asmens_kodas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Atgal į sąrašą »", "Index", "Kursas", new { @class = "btn btn-default" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
